# Run manually to reformat a file:
# clang-format -i --style=file <file>
BasedOnStyle: Google
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
BreakBeforeBinaryOperators: All
ColumnLimit: 100
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
Cpp11BracedListStyle: true
IndentWidth: 4
NamespaceIndentation: Inner
SpaceBeforeParens: ControlStatements
Standard: Cpp11
TabWidth: 4
UseTab: Never
